<html ng-app="hangman" ng-cloak>
<head>
    <title>#14 - Hangman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="hangmanCtrl" class="text-center">
    <div class="container">
        <div class="row">
            <h1>Hangman</h1>
            <div class="col-xs-12">
                <div class="img-placeholder">
                    <img ng-src="{{states[currentState]}}">
                </div>
            </div>
        </div>
        <div class="row row-container">
            <div class="col-xs-12">
                <span class="letter-spacing text-uppercase" ng-repeat="letter in guessedLetters track by $index">{{letter}}</span>
            </div>
        </div>
        <div class="row row-container">
            <div class="col-xs-12">
                <div class="letter-btn-placeholder">
                    <button class="text-uppercase btn btn-primary btn-letter" ng-repeat="letter in letters" ng-click="selectLetter(letter)"
                            ng-disabled="selectedLetters.indexOf(letter) > -1 || gameEnded">{{letter}}</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:1em;">
            <div class="col-xs-12">
                <div class="btn-new-placeholder">
                    <button class="btn btn-success" ng-click="startNewGame()" ng-show="gameEnded">New Game</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
